{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Handson Django{% endblock %}</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <a href="{% url 'handson_app:item_list' %}" class="flex items-center py-4 px-2">
                        <span class="font-semibold text-gray-500 text-lg">Handson Django</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mx-auto mt-6 px-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>